In [1]:
import numpy as np
import pandas as pd

In [4]:
purchases = pd.read_csv('Data/purchases.txt', header=None, sep='\t')

In [5]:
purchases.head()

            0      1           2                    3       4           5
0  2012-01-01  09:00    San Jose       Men's Clothing  214.05        Amex
1  2012-01-01  09:00  Fort Worth     Women's Clothing  153.57        Visa
2  2012-01-01  09:00   San Diego                Music   66.08        Cash
3  2012-01-01  09:00  Pittsburgh         Pet Supplies  493.51    Discover
4  2012-01-01  09:00       Omaha  Children's Clothing  235.63  MasterCard

In [6]:
purchases.columns = ['date', 'time', 'store', 'product_category', 'sales', 'payment_method']

In [7]:
purchases.head()

         date   time       store     product_category   sales payment_method
0  2012-01-01  09:00    San Jose       Men's Clothing  214.05           Amex
1  2012-01-01  09:00  Fort Worth     Women's Clothing  153.57           Visa
2  2012-01-01  09:00   San Diego                Music   66.08           Cash
3  2012-01-01  09:00  Pittsburgh         Pet Supplies  493.51       Discover
4  2012-01-01  09:00       Omaha  Children's Clothing  235.63     MasterCard

In [10]:
purchases.groupby('store')['sales'].max()

store
Albuquerque       499.98
Anaheim           499.98
Anchorage         499.99
Arlington         499.95
Atlanta           499.96
                   ...
Tulsa             499.96
Virginia Beach    499.98
Washington        499.98
Wichita           499.97
Winstonâ€“Salem     499.98
Name: sales, Length: 103, dtype: float64

In [11]:
max(purchases.groupby('store')['sales'].max())

499.99